$redux-purple: #6131AE;
$youtube-red: #ff0000;
$youtube-black: #282828;

$youtube-black-t: rgba(#282828, 0.5);

$purple-gray: #413F54;
$mid-grey: #3F4045;
$green-grey: #485665;
$white: rgba(#ffffff, 0.9);

$purple-black-gradient: to bottom right, $purple-gray 10%, $youtube-black;
$recent-bg: linear-gradient($purple-black-gradient);
$recent-bg-wk: linear-gradient($purple-black-gradient);
