@import '_variables';
@import 'has_played';
@import 'will_play';
@import 'player';
@import 'search';

// Keep video 16:9 aspect ratio by setting row height to 9/16s it's width
// ex 75vw * 9/16 ~ 42vw
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.app-container {
			display: grid;
			grid-template-rows: 6vw 50vw;

			width: 100vw;
			height: 56vw;

			background: $app-bg-wk;
		  background: $app-bg;
			background-size: 100vw 56vw;

			.header {
				grid-row: 1;
				height: 6vw;

				display: grid;
				grid-template-columns: 75vw 25vw;

				.logo {
					grid-column: 1;

					height: 5vw;
					margin-left: 3vw;

					background-color: $transparent;
				}

				.contact {
					grid-column: 2;
					align-self: center;
					justify-self: center;

					img {
						height: 3.5vw;
						margin-left: 2vw;

						cursor: pointer;
					}

					margin-left: 3vw;

					background-color: $transparent;
				}
			}

	    .playlist-container {
				grid-row: 2;
				height: 42.5vw;
				width: 98vw;
				background-color: $green-grey;

	      display: grid;
	      grid-template-columns: 5vw 25vw 20vw 28.5vw 20vw;
	      grid-template-rows: 27vw 15.5vw 5vw;

				.playlist-reset, .search-reset {
					grid-column: 5;
					z-index: 1;

					justify-self: center;
					height: 6vh;
					width: 12vw;

					font-size: 1.5vw;
					font-style: italic;

					border-radius: 1vh;
					background-color: $transparent;
				}

				.playlist-reset {
					grid-row: 2;

					align-self: end;
					margin-bottom: 1vh;

					color: $white;
					border: 2px solid $white-t;
				}

				.playlist-reset:hover {
					color: $redux-purple-t;
					background-color: $white-t;
				}

			  .search-reset {
					grid-row: 3;
					z-index: 3;

					align-self: center;

					border: 2px solid $youtube-black-t;
					color: $youtube-black-t;
				}

				.search-reset:hover {
					color: $youtube-red;
					background-color: $white-t;
					border: 2px solid $youtube-black-t;
				}
	    }
		}
  }
}

// DEFAULT BASE STYLES //

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-style: italic;
	color: $white;
}

h1 {
	font-size: 3vw;
}

 h2 {
	 font-family: 'Kalam', sans-serif;
	 font-size: 2vw;
 }

h3 {
	font-size: 1.75vw;
}

ul {
	list-style-type: none;
}

.app-container * {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.play, .add-remove {
	background-color: $white;
	padding: .5vw;
}

.play {
	border-radius: 20%;
}

.add-remove {
	border-radius: 50%;
	margin-top: -1vh;
}
